<section class="container">
    <div *ngFor="let quote of quotes" class="card mb-3">
        <div class="card-body">
            <div class="blockquote mb-0">
                <img [src]="quote.img" class="img-fluid" width="100" height="200" alt="cat">
                <p>{{ quote.quote }}</p>
                <footer class="blockquote-footer">{{ quote.author }}</footer>
            </div>
            <button class="btn btn-danger mt-2" (click)="deleteQuote(quote.id)">Delete</button>
        </div>
    </div>
</section>